$title-font: 'Roboto', sans-serif;
$subtitle-font: 'Raleway', sans-serif;
$paragraph-font: 'Khula', sans-serif;


$dark-color: #003459;

$title-color: #25aae1;
$subtitle-color: #3f86ed;
$paragraph-color: rgb(252, 244, 244);

